/* NAVBAR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #6ed040;
    color: white;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 40px;
    list-style: none;
}

.nav-links a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 28px;
}

@media (max-width: 768px) {
    .navbar-container {
        grid-template-columns: 1fr auto;
    }

    .nav-links {
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        background-color: #6ed040;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: height 0.3s;
        z-index: 1000;
    }

    .nav-links.active {
        height: auto;
        padding: 1rem 0;
    }

    .nav-links li {
        padding: 1rem 0;
    }

    .menu-toggle {
        display: block;
    }
}

/* NAVBAR */

/* LOGIN */
.card-login {
    display: flex;
    justify-content: center;
    padding: 75px;
}

.login-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

.login-header {
    background-color: #3bac15;
    color: white;
    padding: 20px;
    text-align: center;
}

.login-header h2 {
    margin-bottom: 5px;
}

.login-form {
    padding: 30px 25px;
}

.form-group {
    margin-bottom: 25px;
    position: relative;
}

.form-group h2 {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bolder;
}

.form-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    transition: border-color 0.3s;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #47b821;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #3bac15;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
}

.signup-link a {
    color: #666;
    text-decoration: none;
    font-weight: 600;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 480px) {
    .login-container {
        border-radius: 0;
        box-shadow: none;
    }

    .login-form {
        padding: 20px 15px;
    }
}

/* LOGIN */