
/* NAVBAR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #6ed040;
    color: white;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 40px;
    list-style: none;
}

.nav-links a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 28px;
}

@media (max-width: 768px) {
    .navbar-container {
        grid-template-columns: 1fr auto;
    }

    .nav-links {
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        background-color: #6ed040;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: height 0.3s;
        z-index: 1000;
    }

    .nav-links.active {
        height: auto;
        padding: 1rem 0;
    }

    .nav-links li {
        padding: 1rem 0;
    }

    .menu-toggle {
        display: block;
    }
}
/* NAVBAR */